body {
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 0.9rem; line-height: 1.1rem; font-weight: 250;font-style:normal;letter-spacing:0;
    width: 815px;
    height: auto;
    margin: auto;
    padding: 5%;
}

.download {
    text-align: right;
    padding: 0 0 5px 0;
    margin: 0;
}

#name {
    text-align: center;
    padding: 35px 0 30px 0; 
}

.content {
    display: grid;
    grid-template-columns: 560px 1fr;
    column-gap: 0px;
}

.left_content {
    display: grid;
    grid-template-rows: auto;
    row-gap: 0px;
}

.right_content {
    display: grid;
    grid-template-rows: auto;
    row-gap: 0px;
}

.one_block {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}

.left_content .one_block {
    padding: 15px 35px 10px 35px;
    margin: 0;
}

.right_content .one_block {
    padding-inline: 15px 0px;
    margin: 0;
}

#contact {
    row-gap: 3px;
    padding: 22px 30px;
}

#education {
    row-gap: 11px;
    background-color: #d7e9f2;
    padding: 30px 20px 25px 30px;
}

#education .one_entry {
    height: fit-content;
    padding: 0;
    margin: 0;
}

#others {
    background-color: #ffffff;
    row-gap: 0px;
    padding: 10px 30px 25px 30px;
    margin: 0;
}

#others .one_entry{
    padding: 15px 0 0 0;
}

.one_block .title {
    padding: 0 0 10px 0;
    margin: 0;
}

#contact .plain_text {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items:center;
    padding: 0 0 3px 5px;
    margin: 0;
}

#contact img {
    height: 13px;
    filter: brightness(0);
}

.organization {
    font-weight: 400;
    padding: 0 0 4px 0;
    margin: 0;
}

.organization,
.date,
.publication_metedata,
.publication_metedata_other {
    font-style: oblique 50deg;
}

.publication_metedata,
.publication_metedata_other {
    display: inline;
}

.publication_metedata_other {
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    line-height: 1.1rem;
    font-weight: 450;
    padding: 0;
    margin: 0;
}

.plain_text, li, p, a p {
    text-align: justify;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 300;
    padding:0;
    margin:0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding-inline: 20px 0px;
    margin: 0;
}


li {
    list-style-type: none;
    position: relative;
}

li::before {
    content: '•';
    position: absolute;
    left: -1rem;
    font-size: 1.1rem;
}